@model Bibliotheque.MVC.Models.Emprunt

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression d'un emprunt</h1>

<h3>Voulez-vous vraiment supprimer cet emprunt ?</h3>
<div>
    <h4>Emprunt #@Model.ID</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateEmprunt)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateEmprunt)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateRetourLimite)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DateRetourLimite)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DateRetour)
        </dt>
        @if(Model.DateRetour == null)
        {
            <dd class="col-sm-8">S.O.</dd>
        }
        else
        {
            <dd class = "col-sm-8">@Html.DisplayFor(model => model.DateRetour)</dd>
            
        }
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Livre)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Livre.Titre)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Usager)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Usager.Nom)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour à la liste des emprunts</a>
    </form>
</div>
